<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= element.name %></title>
</head>
<body>
    <style>        
        .wrapper{
            position: absolute;
            top: 30%;
            left: 40%;

            width: 200px;
            border: black 1px solid;

            line-height: 0.5em;
            padding: 1em;
        }
    </style>
    <div class="wrapper">
            <h1><%= element.symbol %></h1>
            <p><%= element.name %></p>
            <p><%= element.number %></p>
    </div>
</body>
</html>